- wrap_layout :layout do
  %section#post
    %aside.post-metas-wrap
      %ul.post-metas
        %li.post-meta
          - if current_page.author
            = link_to current_page.author, blog_author_path(current_page.author), class: 'post-author'
        %li.post_meta
          %span
            - if current_page.twitter
              %a.link.link-in-post.fontello{href: "http://twitter.com/#{current_page.twitter}", target: '_blank'} t
            - if current_page.github
              %a.link.link-in-post.fontello{href: "https://github.com/#{current_page.github}", target: '_blank'} g
        %li.post-meta.post-date= current_page.date.to_s(:short)

    .post-div
      .post-title-wrap
        %h1.post-title= current_page.title

      %current_page.post-content
        = yield

      %p.issue
        See a problem with the current_page?
        %a{href: 'https://github.com/dockyard/reefpoints/blob/gh-pages/_posts/', target: '_blank'} Send a pull request to contribute, we'll happily accept!

      %section.post-share
        %h1 Like the current_page? Please share!
        .social-button
          %a.twitter-share-button{href: 'https://twitter.com/share', data: { url: "http://reefpoints.dockyard.com/#{current_page.path}", via: 'DockYard' }} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');
        .social-button
          .g-plusone{data: {size: 'medium', width: '100', href: '#'}}
          :javascript
            (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();

      %section#post-comments
        - if current_page.comments
          #disqus_thread
          :javascript
            var disqus_shortname = 'reefpoints';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>

  :javascript
    var path = window.location.pathname.split('/').reverse();
    var postname = path[0].split('.');
    var change = postname[0] + '.md';
    var newpath = 'https://github.com/dockyard/reefpoints/blob/gh-pages/_posts/' + path[3] + '-' + path[2] + '-' + path[1] + '-' + change
    $('.issue a').attr('href', newpath);
