%article.l-wrap--blog__posts
  = link_to article.title, article, class: 'posts__title'

  = link_to article.author, author_path(article.author), class:'post__author'
  %time.posts__date= ordinal_date article.date
  - if article.comments
    = link_to "&nbsp;", "#{article.url}#disqus_thread", class: "post__comments-count"

  - if article.summary
    %p.post__desc= article.summary
