.l-wrap
  .l-footer-group
    %h3.footer-group__title EVENTS
    = link_to 'Wicked Good Ember Conf', 'http://wickedgoodember.com/', class: 'footer__event--wgc', target: '_blank'
    = link_to 'Boston Ember.js Meetup', 'http://www.meetup.com/Boston-Ember-js/', class: 'footer__event--ember', target: '_blank'
    = link_to 'OpenHack Boston', 'http://openhack.github.io/boston/', class: 'footer__event--openhack', target: '_blank'
    = link_to 'UX Boston Meetup', 'http://www.meetup.com/uxboston/', class: 'footer__event--ux', target: '_blank'
    = link_to 'Boston Swift', 'http://www.meetup.com/Boston-Swift/', class: 'footer__event--swift', target: '_blank'
    = link_to 'UX Happy Hour', 'http://www.uxhappyhour.com/bos', class: 'footer__event--uxhh', target: '_blank'

  .l-footer-group
    = link_to '/' do
      %h3.footer-group__title BLOG
    - blog.articles[0..2].each do |article|
      = link_to article.url, class: 'footer__post' do
        %strong= article.title
        %h6.footer-desc= article.summary

  .l-footer-group
    = link_to 'http://dockyard.com/hire-us' do
      %h3.footer-group__title CONTACT
    %h6.footer-desc DockYard HQ is located in Boston. Stop in sometime and meet our team!

    = link_to 'http://goo.gl/maps/zBGfn', class: 'footer__address', target: '_blank' do
      %h6
        DockYard Inc.
        %br
        101 Tremont Street
        %br
        Suite 200
        %br
        Boston, MA 02108

    = link_to 'Get in touch.', 'http://dockyard.com/hire-us', class: 'text-link'

    .social-links--footer
      = link_to 'https://twitter.com/dockyard', target: '_blank', 'data-icon' => '#', class: 'social-link' do
        %span.is-hidden Twitter
      = link_to 'https://github.com/dockyard', target: '_blank', 'data-icon' => '★', class: 'social-link' do
        %span.is-hidden GitHub
      = link_to 'http://reefpoints.dockyard.com/atom.xml', target: '_blank', 'data-icon' => '✒', class: 'social-link' do
        %span.is-hidden RSS
