.extended-nav-wrap

  .l-wrap--wide

    %nav.extended-nav
      = link_to 'http://dockyard.com/', class: 'extended-nav--logo', 'data-icon' => '⌂' do
        %span.is-hidden Home
      = link_to '#', class: 'extended-nav--close', 'data-icon' => 'X' do
        %span.is-hidden Close

      .extended-nav__items
        .extended-nav__items--mobile
          = link_to 'Work', '#', class: "extended-nav__item--work extended-nav__item"
          %nav.work-nav--mobile
            = link_to '#', href: 'http://dockyard.com/work/credit-card-reviews', class: "work-nav-item" do
              %strong.work-nav-item__title Credit Card Reviews
            = link_to '#', href: 'http://dockyard.com/work/coachup', class: "work-nav-item" do
              %strong.work-nav-item__title CoachUp
            = link_to '#', href: 'http://dockyard.com/work/askthem', class: "work-nav-item" do
              %strong.work-nav-item__title AskThem
            = link_to '#', href: 'http://dockyard.com/work/beacon-hill-blitz', class: "work-nav-item" do
              %strong.work-nav-item__title Beacon Hill Blitz
        = link_to 'Our Team', 'http://dockyard.com/team', class: "extended-nav__item"
        = link_to 'Process', 'http://dockyard.com/process', class: "extended-nav__item"
        = link_to 'Community', 'http://dockyard.com/community', class: "extended-nav__item"
        = link_to 'Blog', '/', class: "extended-nav__item active"
        = link_to 'Hire Us', 'http://dockyard.com/hire-us', class: "extended-nav__item"

    %nav.work-nav
      %h6 Selected Work
      = link_to '#', href: 'http://dockyard.com/work/credit-card-reviews', class: 'work-nav-item' do
        %strong.work-nav-item__title Credit Card Reviews
        %p Credit card advice from real people.
      = link_to '#', href: 'http://dockyard.com/work/coachup', class: 'work-nav-item' do
        %strong.work-nav-item__title CoachUp
        %p You should be training. Right now.
      = link_to '#', href: 'http://dockyard.com/work/askthem', class: 'work-nav-item' do
        %strong.work-nav-item__title AskThem
        %p Ask officials questions on city, state, and federal levels.
      = link_to '#', href: 'http://dockyard.com/work/beacon-hill-blitz', class: 'work-nav-item' do
        %strong.work-nav-item__title Beacon Hill Blitz
        %p How technology helped repeal the #TechTax.

%nav.main-nav-wrap
  .main-nav.l-wrap--wide
    = link_to 'DockYard', 'http://dockyard.com', class: 'logo'
    = link_to '#', class: 'club-sandwich', 'data-icon' => '☰' do
      %span.is-hidden Navigation
